*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0 auto;
    padding: 0;
}

#Banner_ROR2
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#logo
{
    position: relative;
    height: 150px;
    width: 400px;
    padding-top: 25px;
    padding-left: 25px;
    float: left;
}

header
{
    /* border-bottom: 1px solid crimson; */
    height: 185px;
}

/* Three Tier Navigation Bar*/
#navigation_bar
{
    /* clear: left; */
    position: relative;
    float: left;
    margin-left: 23%;
    margin-right: 20%;
    margin-top: -115px;
}

#navigation_bar ul
{
    list-style: none;
    position: relative;
}

#navigation_bar ul li
{
    float: left;
}

#navigation_bar ul ul
{
    display: none;
    position: absolute;
    top: 100%;
}

#navigation_bar ul ul li
{
    float: none;
    padding-top: 5px;
}

#navigation_bar ul ul li ul
{
    display: none;
    position: absolute;
    left: 85%;
    top: 0;
}

#navigation_bar ul ul ul li
{
    float: none;
}

#navigation_bar ul li:hover > ul
{
    display: block;
}

#navigation_bar ul li:hover > ul li:hover > ul
{
    display: block;
}

#navigation_bar > ul::after
{
    content: "";
    clear: both;
    display: block;
}

#navigation_bar ul li a
{
    text-align: center;
    display: block;
    text-decoration: none;
    margin-left: 2.5em;
    padding: 0.7em;
    border: 1px dotted cyan;
    border-radius: 50px;
    color: darkblue;
    background-color: rgb(51, 153, 255, 0.75);
    font-size: 1.25em;
}

#navigation_bar ul li ul li a
{
    text-align: center;
    background-color: rgb(51, 153, 255, 0.75)
}

#navigation_bar ul li a.current
{
    color: cyan;
}

#navigation_bar ul li a:hover, #navigation_bar ul li a:focus
{
    background: white;
}

.stretch
{
    width: 280px;
}

/* Columns */

#sideA
{
    width: 15%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    background-color: rgb(0, 0, 0, 0.55);
    border: 1px solid white;
    margin-bottom: 20px;
}

#sideA img
{
    height: 100px;
    width: 100px;   
    padding-left: 24%;
}

#sideA figcaption
{
    text-align: center;
    color: white;
}

#sideB
{
    width: 25%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-right: 3%;
}

#sideB p
{
    clear: both;
    padding-left: 2.5%;
    padding-top: 15px;
    font-size: 1.5em;
    color: white;
    font-style: italic;
    text-shadow: 3px 3px black;
}

#sideB ul li
{
    list-style: none;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 225px;
}

#sideB ul li a
{
    text-align: center;
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(51, 153, 255, 0.75);
}

#sideB ul li a:hover
{
    background-color: white;
}

.one
{
    float: left;
}
.two
{
    float: left;
    padding-left: 10px;
}
.three
{
    clear: left;
    float: left;
}
.four
{
    float: left;
    padding-left: 10px
}

/* Main */

main
{
    width: 53%;
    height: auto;
    float: left;
    margin-top: 10px;
}

main h1
{
    padding-left: 25px;
    color: white;
    text-shadow: 3px 3px black;
}

main p
{
    padding-left: 15px;
    color: white;
    font-size: 1.25em;
    padding-bottom: 15px;
    text-shadow: 3px 2px black;
    /* background-color: rgb(51, 153, 255, 0.10); */
}

/* Footer */
footer
{
    clear: both;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid black;
}

footer p
{
    padding: 10px;
    color: white;
    text-shadow: 3px 2px black;
}

footer span
{
    margin-left: 25%;
    color: white;
    text-shadow: 3px 2px black;
}

footer span a
{
    text-decoration: none;
    color: white;
}